<div class="row">
    <div class="col-xs-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th *ngFor="let column of metadata" > {{column.header}} </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of tableObj.data" >
                    <td *ngFor="let column of metadata" >
                        <div *ngIf="column.header.indexOf('date') >= 0" >
                            {{item[column.key] | dateformat:dateLocaleFormat}}
                        </div> 
                        <div *ngIf="column.header.indexOf('date') < 0" >
                            {{item[column.key]}}
                        </div> 
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-xs-offset-4 col-xs-4">
        <my-button [title]="'<<'" [type]="'btn-primary'" (customClick)="requestData(1, size)" ></my-button>
        <my-button [title]="'<'" [type]="'btn-primary'" (customClick)="requestData ((tableObj.page - 1), size)" ></my-button>&nbsp;
        <select [(ngModel)]="size" (change)="requestData(1, size)">
            <option value="5" selected>5</option>
            <option value="15">15</option>
            <option value="20">20</option>
        </select>&nbsp;
        <my-button [title]="'>'" [type]="'btn-primary'" (customClick)="requestData ((tableObj.page + 1), size)" ></my-button>
        <my-button [title]="'>>'" [type]="'btn-primary'" (customClick)="requestData (tableObj.totalPages, size)" ></my-button>
    </div>
</div>