<div class="row">
    <div class="col-xs-4 hero-picture">
        <img class="id-photo" src="{{superHero.image}}" />
    </div>
    <div class="col-xs-8 text-file">
        <div class="row">
            <div class="col-xs-12">
                <label>Super Hero:</label>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <span>{{superHero.name}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <label>Story:</label>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <span>{{superHero.story}}</span>
            </div>
        </div>
    </div>
</div>