<div class="row">
    <div class="col-xs-8">
        <label for="inputNameHero"> Hero's name</label>
    </div>
    <div class="col-xs-4">
        <label for="dateFormat">Date format</label>
    </div>
</div>
<div class="row">
    <div class="col-xs-8">
        <input type="text" id="inputNameHero" class="form-control" [(ngModel)]="heroName"/>
    </div>
    <div class="col-xs-4">
        <select class="form-control" id="dateFormat" [(ngModel)]="formatDate">
            <option value="us">USA format</option>
            <option value="eu">European format</option>
        </select>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        &nbsp;
    </div>
</div>
<div class="row">
    <div class="col-xs-offset-10 col-xs-12">
        <my-button [title]="titleReset" [type]="'btn-default'" (customClick)="doAction($event)" ></my-button>&nbsp;&nbsp;
        <my-button [title]="titleSearch" [type]="'btn-primary'" (customClick)="doAction($event)" ></my-button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <img src="assets/loader.gif" alt="" [hidden]="!loading" class="load"/>
        <my-table [metadata]="metadataTable" [tableObj]="tableObj" [dateLocaleFormat]="formatDate" (refreshTable)="updateTable($event)" ></my-table>
    </div>
</div>