<div class="row">
    <div class="col-xs-4">
        <label for="characterInput">Character name</label>
    </div>
    <div class="col-xs-4">
        <label for="serieInput">Serie name</label>
    </div>
    <div class="col-xs-4">
        <label for="envetInput">Event name</label>
    </div>
</div>
<div class="row">
    <div class="col-xs-4">
        <input type="text" id="characterInput" class="form-control"/>
    </div>
     <div class="col-xs-4">
        <input type="text" id="serieInput" class="form-control"/>
    </div>
     <div class="col-xs-4">
        <input type="text" id="envetInput" class="form-control"/>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        &nbsp;
    </div>
</div>
<div class="row">
    <div class="col-xs-offset-10 col-xs-2">
        <app-button [title]="'Reset'" [type]="'btn-default'"></app-button>&nbsp;&nbsp;<app-button [title]="'Search'" [type]="'btn-primary'"></app-button>
    </div>
</div>